<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>iEducate-transforming online Education</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <nav class="navbar background h-resp">
      <ul class="nav-list v-resp">
        <div class="logo"><img src="./img/logo2.jpg" alt="iEdu logo" /></div>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">about</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <div class="rightnav v-resp">
        <input type="text" name="search" id="search" />
        <button class="btn btn-sm">Search</button>
      </div>
      <div class="burger" id="bur">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </nav>

    <section class="background firstSection" id="about">
      <div class="box-main">
        <div class="left">
          <p class="text-big">Future is here</p>
          <p class="text-small">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
            necessitatibus nulla officia impedit maxime pariatur molestiae
            veritatis, saepe voluptatibus? Exercitationem excepturi iure harum
            nam id mollitia molestiae odit ducimus nesciunt.
          </p>
          <div class="button">
            <button class="btn">Join Now</button>
            <button class="btn">Start career</button>
          </div>
        </div>
        <div class="right">
          <img src="/img/logo2.jpg" alt="" />
        </div>
      </div>
    </section>
    <section class="Section" id="services">
      <div class="paras">
        <p class="sectiontag text-big">No boundaries can restrict you now</p>
        <p class="sectionSubtag text-small">
            Education is a purposeful activity directed at achieving certain aims, such as transmitting knowledge or fostering skills and character traits. These aims may include the development of understanding, rationality, kindness, and honesty. Various researchers emphasize the role of critical thinking in order to distinguish education from indoctrination. Some theorists require that education results in an improvement of the student while others prefer a value-neutral definition of the term. In a slightly different sense, education may also refer, not to the process, but to the product of this process: the mental states and dispositions possessed by educated people. Education originated as the transmission of cultural heritage from one generation to the next. Today, educational goals increasingly encompass new ideas such as the liberation of learners, skills needed for modern society, empathy, and complex vocational skills.  
        </p>
      </div>
      <div class="thumbnail">
        <img src="https://source.unsplash.com/1000x900/?tech,education" alt="" class="fluid" />
      </div>
    </section>
    <section class="Section leftSec">
      <div class="paras">
        <p class="sectiontag text-big">Set Your Goal Towards Bigger Dreams</p>
        <p class="sectionSubtag text-small">
            Goal setting is a powerful process for thinking about your ideal future, and for motivating yourself to turn your vision of this future into reality.
            The process of setting goals helps you choose where you want to go in life. By knowing precisely what you want to achieve, you know where you have to concentrate your efforts. You'll also quickly spot the distractions that can, so easily, lead you astray.
        </p>
      </div>
      <div class="thumbnail">
        <img src="https://source.unsplash.com/1000x900/?tech,dreams" alt="" class="fluid" />
      </div>
    </section>
    <section class="Section">
      <div class="paras">
        <p class="sectiontag text-big">Walk the Path of Sucess with Us</p>
        <p class="sectionSubtag text-small">
            This type of education has grown over the last few years and has experienced mainstream acceptance. With an online class, you get to control your learning environment, which ultimately helps you develop a deeper understanding of your degree course. New models of learning are always springing up in the market, providing students with varied opportunities to fashion their education into something that fits them, not the other way round. It also provides individuals an opportunity to finish a degree they might have started and were unable to continue with for one reason or another. The future of online degree education looks promising, and opens up education to a larger section of the population than ever before.
        </p>
      </div>
      <div class="thumbnail">
        <img src="https://source.unsplash.com/1000x900/?tech,coding" alt="" class="fluid" />
      </div>
    </section>
    <section class="contact" id="contact">
     <h2 class="foothead">Contact us</h2>
     <div class="form" >
      <form action="/#contact" method="post">
        <input type="text" name="name" id="name" placeholder="Enter your Name">
        <input type="phone" name="phone" id="phone" placeholder="Enter your Phone">
        <input type="email" name="email" id="email" placeholder="Enter your Email">
        <div class="footbtn">
          <button class="btn btn-dark">Submit</button>
        </div>   
      </form>
     </div>
    </section>
    <footer class="background foot">
        Copyright &copy; 2022 www.iEducate.com - All Rights Reserved
    </footer>
    <script src="./js/index.js"></script>
  </body>
</html>
